/* cabeçalho */

.gg-a{
    display: none;
}

/* rodapé */

#rodape{
    height: 50%;
    width: 19%;
    display: block;
    position: fixed;
    margin-top:3.8% ;
    background-color: rgba(54, 2, 2, 0.7);
    border: dotted 3px white;
}


.l1{
    height: 6%;
    width: 16%;
    margin-left: 15px;
    
}

.l2{
    height: 6%;
    width: 14.5%;
    margin-left: 15px;
    scale: 1.5;
}

.l3{
    height: 6%;
    width: 16.8%;
    margin-left:15px;
    
}

.l4{
    height: 6%;
    width: 18%;
    margin-left: 15px;
    
}

.l5{
    height: 6%;
    width: 20%;
    margin-left: 15px;
    
}

.l6{
    height: 6%;
    width: 43%;
    margin-left: 15px;
    
}
main{
    height: 30em; 
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.filme{
    height: 100%;
    width: 50%;
}

.nfilme{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dfilme{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem1{
    height: 100%;
    width: 50%;
}

.texto1{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.serie{
    height: 100%;
    width: 50%;
}

.nserie{
    height:10%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dserie{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.imagem2{
    height: 100%;
    width: 50%;
}

.texto2{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a2{
    height: 30%;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 2px black solid;
    border-radius: 15px;
    background-color: rgb(32, 32, 32);
}

.a3{
    height: 30%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 2px black solid;
    border-radius: 15px;
    background-color: rgb(32, 32, 32);
}

.a2:hover{
    transition: 1s;
    scale: 1.2;
}

.a3:hover{
    transition: 1s;
    scale: 1.2;
}


/*fim do main*/

/*article*/

article{
    height: 70em;
    width: 100%;
}

.oquee{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

.txtfic{
    height: 80%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: min(2vw)
}

.creditos{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a4{
    height: 50%;
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 2px white outset;
    background-color: black;
}
/* fim do article */

footer{
    margin-left: 5%;
}

@media (max-width:910px) {
    .cabecalho{
        width: 98vw;
        display: flex;
        flex-wrap: wrap;
    }

    .logo{
        height: 50%;
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .tlogos{
        height: 100%;
        width: 50%;
    }

    .pesquisa{
        height: 50%;
        width: 50%;
        position: relative;
        bottom: 50%;
    }

    .gg-a{
        display: none;
    }
    
    .fundo{
        width: 79vw;
    }

    article{
        height: 60em;
    }
    
    footer p{
        width: 100vw;
            display: flex;
        }
    
        .a8{
            width: 10vw;
    }
}

@media (max-width:700px) {

    .cabecalho{
        width: 98vw;
        display: flex;
        flex-wrap: wrap;
    }

    .logo{
        height: 50%;
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .tlogos{
        height: 100%;
        width: 50%;
    }

    .pesquisa{
        height: 50%;
        width: 50%;
        position: relative;
        bottom: 50%;
    }

    .gg-a{
        display: block;
        position: absolute;
        left: 93vw;
        top: -5vh;
    }

    #rodape{
        display: none;
    }

    .fundo{
        width: 98vw;
        margin-left: 1vw;
    }
    
}