/* rodapé */

#rodape{
    height: 50%;
    width: 19%;
    display: block;
    position: fixed;
    margin-top:3.8% ;
    background-color: rgba(54, 2, 2, 0.7);
    border: dotted 3px white;
}

.l1{
    height: 6%;
    width: 16%;
    margin-left: 15px;
    scale: 1.5;   
}

.l2{
    height: 6%;
    width: 14.5%;
    margin-left: 15px;
}

.l3{
    height: 6%;
    width: 16.8%;
    margin-left:15px;
    
}

.l4{
    height: 6%;
    width: 18%;
    margin-left: 15px;
    
}

.l5{
    height: 6%;
    width: 20%;
    margin-left: 15px;
    
}

.l6{
    height: 6%;
    width: 43%;
    margin-left: 15px;
    
}

main{
    height: 44em; 
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: large;
}
/* fim do rodapé */

.textos{
    height: 90%;
    width: 100%;
}

.texto{
    display: flex;
    justify-content: center;
    
}

.creditos{
    height: 4%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a4{
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 2px white outset;
    background-color: black;
}

@media (max-width:910px) {
    .cabecalho{
        width: 98vw;
        display: flex;
        flex-wrap: wrap;
    }

    .logo{
        height: 50%;
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .tlogos{
        height: 100%;
        width: 50%;
    }

    .pesquisa{
        height: 50%;
        width: 50%;
        position: relative;
        bottom: 50%;
    }

    .gg-a{
        display: none;
    }
    
    .fundo{
        width: 79vw;
    }

    article{
        height: 60em;
    }
    main{
        height: 50em;
    }
    
}

@media (max-width:700px) {

    .cabecalho{
        width: 98vw;
        display: flex;
        flex-wrap: wrap;
    }

    .logo{
        height: 50%;
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .tlogos{
        height: 100%;
        width: 50%;
    }

    .pesquisa{
        height: 50%;
        width: 50%;
        position: relative;
        bottom: 50%;
    }

    .gg-a{
        display: flex;
        position: absolute;
        left: 92vw;
        bottom: 13vh;
    }

    #rodape{
        display: none;
    }

    .fundo{
        width: 98vw;
        margin-left: 1vw;
    }

    main{
        height: 50em;
    }
    
}