/* tudo */

p{
    text-indent: 3%;
}

main{
    height: 20%;
    width: 100%;
    margin-top: 4%;
}

/* rodapé */

#rodape{
    height: 50%;
    width: 19%;
    display: block;
    position: fixed;
    margin-top:3.8% ;
    background-color: rgba(54, 2, 2, 0.7);
    border: dotted 3px white;
}


.l1{
    height: 6%;
    width: 16%;
    margin-left: 15px;
}

.l2{
    height: 6%;
    width: 14.5%;
    margin-left: 15px;
}

.l3{
    height: 6%;
    width: 16.8%;
    margin-left:15px;
}

.l4{
    height: 6%;
    width: 18%;
    margin-left: 15px;
}

.l5{
    height: 6%;
    width: 20%;
    margin-left: 15px;
}

.l6{
    height: 6%;
    width: 43%;
    margin-left: 15px;
}

/* fim do rodapé */

.dvideo{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
}

video{
    height: 100%;
    width: 98%;
    box-shadow: 0 0 5px;
}

/* article */

article{
    height: 100%;
    width: 100%;
}

article h2{
    margin-top: 2%;
    padding-left: 50px;
}

.secsinopse{
    height: 10%;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

article h3{
    padding-left: 50px;
    margin-bottom: 10px;
}

.sechistoria{
    height: 100%;
    width: 100%;
}

.sechistoria p{
    margin-bottom: 30px;
}

.nomes{
    
    color: blue;
}

.nomes:hover{
    color: purple;
}

.botao{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.botao a{
    height: 50%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px white solid;
    border-radius: 15px;
    background-color: gray;
}

.botao a:hover{
    transition: 1s;
    scale: 1.2;
}

.comentarios{
    height: 100%;
    width: 100%;
}

.comentarios h3{
    height: 5%;
    width: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comentarios h4{
    height: 5%;
    width: 100%;
    margin: 10px;
}

.comentarios p{
    width: 99%;
    text-align: justify;
}

.div-a{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-a a{
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    background-color: gray;
    border: 1px white solid;
}

.div-a a:hover{
    transition: 1s;
    scale: 1.1;
}

.minha-opiniao{
    height: 20em;
    width: 100%;
}

.minha-opiniao h2{
    height: 10%;
    width: 93.7%;
    display: flex;
    justify-content: center;
}

.minha-opiniao p{
    height: 80%;
    width: 100%;
    font-size: x-large;
}
/* outros */

.outros{
    height: 50em;
    width: 20%;
    display: flex;
    flex-flow: column wrap-reverse;
    position: absolute;
    top: 110px;
    left: 78vw;
    background-clip: text;
    -webkit-background-clip: text;
}

.doutros{
    height: 100%;
    width: 90%;
}

.ha{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

.pa{
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-left: 5%;
}

.pa a{
    height: 70%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding-left: 5%;
    border: 1px white solid;
    border-radius: 15px;
}

.pa a:hover{
    transition: 1s;
    scale: 1.2;
} 

.pb{
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-left: 5%;
}

.pb a{
    height: 70%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding-left: 5%;
    border: 1px white solid;
    border-radius: 15px;
}

.pb a:hover{
    transition: 1s;
    scale: 1.2;
} 

.pc{
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-left: 5%;
}

.pc a{
    height: 90%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding-left: 5%;
    border: 1px white solid;
    border-radius: 15px;
}

.pc a:hover{
    transition: 1s;
    scale: 1.2;
}

.pd{
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-left: 5%;
}

.pd a{
    height: 70%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding-left: 5%;
    border: 1px white solid;
    border-radius: 15px;
}

.pd a:hover{
    transition: 1s;
    scale: 1.2;
} 
  
.ac{
    display: flex;
    justify-content: center;
}

.doutros img{
    height: 35%;
    width: 55%;
    display: flex;
    justify-content: center;
}

.doutros img:hover{
    transition: 1s;
    scale: 1.05;
}
figure {
    height: 35%;
    width: 75%;
    border: 3px red  solid;
    background-color: rgba(54, 2, 2, 0.7);
    text-align: center;
    font-style: italic;
    font-size: smaller;
    margin-left: 25px;
    padding: 10px;
    box-shadow: 3px 3px 7px red;
}

.figure1 {
    height: 40%;
    width: 75%;
    border: 3px red  solid;
    background-color: rgba(54, 2, 2, 0.7);
    text-align: center;
    font-style: italic;
    font-size: smaller;
    margin-left: 25px;
    padding: 10px;
    box-shadow: 3px 3px 7px red;
}




/* footer */

footer p{
    height: 100%;
    width: 100%;
}

footer a{
    text-decoration: none;
}

@media(max-width:780px){
}