/* rodapé */

#rodape{
    height: 50%;
    width: 19%;
    display: block;
    position: fixed;
    margin-top:3.8% ;
    background-color: rgba(54, 2, 2, 0.7);
    border: dotted 3px white;
}


.l1{
    height: 6%;
    width: 16%;
    margin-left: 15px;
}

.l2{
    height: 6%;
    width: 14.5%;
    margin-left: 15px;
}

.l3{
    height: 6%;
    width: 16.8%;
    margin-left:15px;
}

.l4{
    height: 6%;
    width: 18%;
    margin-left: 15px;
}

.l5{
    height: 6%;
    width: 20%;
    margin-left: 15px;
}

.l6{
    height: 6%;
    width: 43%;
    margin-left: 15px;
}

/* main */

main{
    height: 70vh;
    display: flex;
    justify-content: center;
}

main img{
    display: block;
    opacity: 0.5;
    position: fixed;
    margin-top: 6vh;
}

/* .menu-mobile{
    color: #fff;
    display: flex;
  }
.menu-mobile{
  color: #fff;
  display: none;
}

.gg-menu-cheese{
  color: #fff;
} */

@media (max-width:860px){
    
    .logo {
        height: 100%;
        width: 30%;
        display: flex;
        align-items: center;
        background-color: aqua;
    }
    
    .tlogos{
        height: 100%;
        width: 40%;
        display: flex;
        flex-direction: column;
        font-size: xx-large;
        justify-content: center;
        align-items: center;
        background-color: green;
    }
    
    .tlogo{
        animation: porta1 2s alternate-reverse infinite;
    }
    
    .tlogo1{
        animation: porta2 2s alternate-reverse infinite;
    }
    
    .pesquisa{
        display: flex;
        height: 100%;
        width: 30%;
        align-items: center;
        justify-content: end;
    }
    
    .pesquisa input{
        margin-right: 1%;
        text-align: center;   
        border-radius: 15px;
    }
    
    .pesquisa a{
        color: black;
        margin-right: 6%;
    }

    #rodape{
        display: none;
    }

    .fundo{
        height: 88vh;
        width: 98vw;
        margin-left: 1vw;
    }

    main img{
        height: 35%;
        width: 50%;
        margin-top: 6vh;
    }

    footer{
        position: relative;
        top: 15vh;
        left: 1vw;
    }
}

@media (max-width:700px) {
    header{
        display: flex;
    }

    
}